<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<div>

<h2><%= title%></h2>
<p><%= content%></p>
<p id="noteId"><%= id %></p>

<div><a class="btn btn-light btn-lg btnTest"  role="button">Test</a></div>
  
  
        <form action="/delete" method="post">
        <button class="btn btn-danger btn-lg" name="selectedNote" value="<%= id %>" type="submit">
          Delete
        </button>
      </form>

      <form action="/selectEdit" method="post">
        <button class="btn btn btn-lg" name="selectedEdit" value="<%= id %>" type="submit">
          Edit
        </button>
      </form>
      

  <div><a class="btn btn-light btn-lg" href="/userHome" role="button">Back</a></div>


<%- include("partials/footer"); -%>
