<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<%  postsForPage.forEach(function(post) { %>

  <h4><%=post.title%></h4>

  <p><%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
  </p>

    <% }) %>
  
  <div class="col-sm-4">
    <div class="card body">
      <div class="card-body">
        <a class="btn btn-danger btn-lg" href="/compose" role="button">
          Compose
        </a>
      </div>
    </div>
  </div>

<%- include("partials/footer"); -%>
