<%- include("partials/header"); -%>


<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<%  postsForPage.forEach(function(post) { %>

  <h4><%=post.title%></h4>

  <p><%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
  </p>

    <% }) %>
  
    <form id="composePost" class="" action="/compose" method="post">
      <div class="form-group">

         <label>Title</label>
        <input placeholder="Give it a catchy title!" class="form-control" type="text" name="postTitle">
       
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" placeholder="What do you want to remember for later?"></textarea>
      </div>
      <button class="btn btn-primary" type="submit"  name="publishPost">Publish</button>
    </form>

    <button id="showCompose" class="btn btn-primary" type="submit" name="Compose">Compose</button>

<%- include("partials/footer"); -%>
