<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<form action="/chooseTopic" method="POST">
  

<%  topicsForPage.forEach(function(topic) { %>

  <div class="form-group">

    <label for="text"><%=topic.title%></label>
    <a href="/topics/<%=topic._id%>">Read More</a>
    <!-- <input type="radio" class="form-control" name="chosenTopic" value="<%=topic.id%>" id="<%topic.id%>"> -->
 
</div>

    <% }) %>

    <button type="submit" value="chosenTopicBtn" class="btn btn-dark">Confirm</button>

</form>

    <form action="/createAdditionalTopic" method="POST">
      <div class="form-group">
        <label for="additionalTopic">Topic</label>
        <input type="text" class="form-control" name="additionalTopic" placeholder="Recipes">
      </div>
  
      <button type="submit" class="btn btn-dark">Confirm</button>
    </form>


<%- include("partials/footer"); -%>