<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<div>
<form action="/searchNotes" method="POST">
  <div class="form-group">
    <label for="searchedNote">Search Notes by Title:</label>
    <input type="text" class="form-control" name="searchedNoteValue" autocomplete="on">
  </div>
  <button id="searchNotesBtn" type="submit" class="btn btn-dark">Search</button>
  <button><a href="/userHome">Reset</a></button>
</form>
</div>


<a href="/composeNote">Create New Note</a>

  <%  notesForPage.forEach(function(note) { %>

    <h4><%=note.title%></h4>
  
    <p><%=note.content.substring(0, 100) + " ..."%>
    <a href="/notes/<%=note._id%>">Read More</a>
    </p>
  
  <% }) %>

<%- include("partials/footer"); -%>