<%- include("partials/headerAuthed"); -%>

<h1>What Do You Want to Remember?</h1>


<div>
<form action="/searchNotes" method="POST">
  <div class="form-group">
    <label for="searchedNote">Search Notes by Title:</label>
    <input id="noteTitleInput" type="text" class="form-control" name="searchedNoteValue" autocomplete="on">
  </div>
  <button id="searchNotesBtn" type="submit" class="btn btn-dark">Search</button>
  <button class="btn btn-light"href="/userHome">Reset</button>
</form>
</div>

<button class="btn btn-success btn-lg">
  <a href="/composeNote">Create New Note</a>
</button>

<%  notesForPage.forEach(function(note) { %>

  
<div class="note-container border-gradient">

  <h3 id="noteTitles"><%=note.title%></h3>
  
  <p id="noteContent"><%=note.content.substring(0, 45) + " ..."%>

    <a href="/notes/<%=note._id%>">Read More</a>

  </p>

</div>
<% }) %>



<%- include("partials/footer"); -%>