<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<a href="/composePost">Create New Post</a>

  <%  postsForPage.forEach(function(post) { %>

    <h4><%=post.title%></h4>
  
    <p><%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  
  <% }) %>

<%- include("partials/footer"); -%>