<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/editProfile">Edit Profile</a>
    <a class="dropdown-item" href="/logout">Log Out</a>
  </div>
</div>

<div>
<form action="/searchNotes" method="POST">
  <div class="form-group">
    <label for="searchedNote">Search Notes by Title:</label>
    <input type="text" class="form-control" name="searchedNoteValue" autocomplete="on">
  </div>
  <button id="searchNotesBtn" type="submit" class="btn btn-dark">Search</button>
  <button class="btn btn-light"href="/userHome">Reset</button>
</form>
</div>


<a href="/composeNote">Create New Note</a>

  <%  notesForPage.forEach(function(note) { %>

    <h4><%=note.title%></h4>
  
    <p><%=note.content.substring(0, 100) + " ..."%>
    <a href="/notes/<%=note._id%>">Read More</a>
    </p>
  
  <% }) %>

<%- include("partials/footer"); -%>