<%- include("partials/headerAuthed"); -%>

<h1>What Do You Want to Remember?</h1>


<div>
<form action="/searchNotes" method="POST">
  <div class="form-group">
    <label for="searchedNote">Search Notes by Title:</label>
    <input id="noteTitleInput" type="text" class="form-control" name="searchedNoteValue" autocomplete="on">
  </div>
  <button id="searchNotesBtn" type="submit" class="btn btn-dark">Search</button>
  <button class="btn btn-light"href="/userHome">Reset</button>
</form>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Newest to Oldest</a>
    <a class="dropdown-item" href="#">Oldest to Newest</a>
  </div>
</div> -->

<button class="btn btn-success btn-lg">
  <a href="/composeNote">Create New Note</a>
</button>



<%  notesForPage.forEach(function(note) { %>
<div class=note-container>

  <h3 id="noteTitles"><%=note.title%></h3>
  
  <p><%=note.content.substring(0, 45) + " ..."%>

    <a href="/notes/<%=note._id%>">Read More</a>

  </p>

</div>
<% }) %>



<%- include("partials/footer"); -%>